# Analysis RTG gene expression

## Reference
- Single-cell RNA-seq reveals intrinsic and extrinsic regulatory heterogeneity in yeast responding to stress
    - Article. https://doi.org/10.1371/journal.pbio.2004050  
    - RNA sequencing data(GSA102475). https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE102475

In [52]:
# Retrieve table
import pandas as pd
import numbers
df = pd.read_table("data/GSE102475_GASCH_NaCl-scRNAseq_NormData.txt")

In [53]:
def get_key(df, value):
    return [k for k,v in df.items() if value==v]

## Check availibility of RTG Genes

In [45]:
# Gene names
alias = {
    "RTG1": "YOL067C",
    "RTG2": "YGL252C",
    "RTG3": "YBL103C",
    "BMH1": "YER177W",
    "MKS1": "YNL076W",
    "CIT2": "YCR005C"
}

for k in alias.keys():
    if alias[k] in list(df["gene"]):
        print("{} is measured".format(k))
    else:
        print("{} not found".format(k))

RTG1 is measured
RTG2 is measured
RTG3 is measured
BMH1 is measured
MKS1 is measured
CIT2 is measured

## Get RTG gene expression table

In [78]:
df_filt = df[df["gene"].isin(alias.values())]
# filtered zeros
df_filt_zeroRemoved = df_filt
for key in df_filt.keys():
    col = df_filt[key]
    if 0.00 in list(col):
        del df_filt_zeroRemoved[key]
        
# a to columndd alias
alias_ns = [ get_key(alias, ali)[0] for ali in df_filt_zeroRemoved["gene"]]
df_filt_zeroRemoved["gene_alias"] = alias_ns
df_filt_zeroRemoved

,gene,BY4741_Stressed_1784042160_C50_BY17,BY4741_Stressed_1784042160_C50_BY42,BY4741_Stressed_1784042160_C50_BY44,BY4741_Stressed_1784042160_C50_BY56,BY4741_Stressed_1784042160_C50_BY57,BY4741_Unstressed_1784042189_BY34,BY4741_Unstressed_1784042189_BY43,BY4741_Unstressed_1784042189_BY45
356,YBL103C,214.81,42.71,31.30,171.66,2.76,99.71,11.14,22.58
777,YCR005C,212.07,221.08,182.55,47.52,576.28,72.06,106.97,106.08
2051,YER177W,927.55,1215.70,1024.85,650.36,769.12,562.25,860.52,854.64
2470,YGL252C,133.87,109.25,90.20,34.09,14.54,285.91,91.69,96.87
5303,YNL076W,83.40,35.91,39.22,12.68,13.97,12.52,52.62,26.42
5733,YOL067C,3.59,9.57,9.98,99.30,1.24,5.15,7.20,5.18

In [ ]:
df_filt_zeroRemoved.to_csv("data/RTG-Expression-Table_GSE102475.csv", index=False)